*{
    margin: 0;
    padding: 0;
    font-family: 'Courier New', Courier, monospace;
    box-sizing: border-box;
}

.header{
    height: 120px;
    width: 100%;
    padding: 0 8%;
    background: #312d2d;
    position: relative;
}

nav{
    width: 100%;
    padding-top: 16px;
    padding-bottom: 16px;
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-between;
}

.logo{
    width: 140px;
    height: 120px;
}

.nav-links{
   padding: 18px 0;
}

.nav-links li{
    display: inline-block;
    margin: 0 35px;
}

.nav-links a{
    text-decoration: none;
    color: #F0FFF9;
    padding: 5px 0;
    position: relative;
    font-size: 18px;
}

.nav-links a::after{
    content: '';
    background: #F0FFF9;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 0.5s;
}

.nav-links a:hover::after{
    width: 100%;
}

h1{
    padding-top: 30px;
    text-align: center;
    font-size: 50px;
}

.Box{
    height: 504px;
    width: 45%;
    padding: 0 8%;
    position: relative;
    margin-left: auto;
    margin-right: auto;
}

.centerH{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

.center{
    text-align:center;
    margin-left:auto;
    margin-right:auto;
}

#hej{
    color: #F0FFF9;
    font-size: 50px;
}

h2{
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    text-size-adjust: 30px;
}